/*MOVIL*/
@media only screen and (max-width: 1000px) {
  .bg-head {
    display: none;
  }
  .logo {
    position: absolute;
    left: 40px;
    top: -65px;
  }
  .nav {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .marginblack {
    display: none;
  }
  .nav-mov {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    list-style: none;
    position: absolute;
    left: -5px;
    width: 395px;
    top: 50px;
  }
  .nav-a {
    display: flex;
    width: 100%;
    text-decoration: none;
    font-size: 27px;
    padding: 10px;
    color: white;
    top: 200px;
    font-family: "Cormorant Garamond", serif;
  }
  .title-head {
    display: none;
  }
  .title-head2 {
    display: none;
  }
  .mov-bg-inicio {
    display: flex;
    width: 100%;
  }
  .mov-title-head {
    font-family: "Gloock", serif;
    color: white;
    font-size: 70px;
    position: absolute;
    top: 340px;
    right: 1px;
    z-index: 20;
    text-shadow: 8px 8px 9px #000000;
  }
  .mov-title-head2 {
    font-family: "Gloock", serif;
    color: rgb(255, 255, 255);
    font-size: 100px;
    position: absolute;
    top: 380px;
    right: 1px;
    z-index: 20;
    text-shadow: 8px 8px 9px #000000;
  }
  .btn-unete {
    position: absolute;
    display: flex;
    right: 80px;
    top: 520px;
  }
}
.btn-unete a {
  color: white;
  text-decoration: none;
}

/*PC*/
@media only screen and (min-width: 1000px) {
  .logo {
    display: none;
  }
  .nav-mov {
    display: none;
  }
  .mov-weare {
    display: none;
  }
}
.bg-head {
  position: absolute;
  width: 100%;
  max-height: 1000px;
  min-height: 200px;
  z-index: -1;
  top: 0px;
  right: 0px;
}

.logo {
  width: 300px;
  padding: 50px;
}

.marginblack {
  background-color: rgb(41, 41, 41);
  height: 930px;
  width: 700px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0.9;
}

.nav {
  margin: 50px;
  margin-right: 50px;
}

.nav-tit {
  color: white;
  margin: 50px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  text-shadow: 8px 8px 9px #000000;
}

.title-head {
  font-family: "Gloock", serif;
  color: white;
  font-size: 180px;
  position: absolute;
  top: 200px;
  right: 150px;
  z-index: 20;
  text-shadow: 8px 8px 9px #000000;
}

.title-head2 {
  font-family: "Gloock", serif;
  color: rgb(255, 255, 255);
  font-size: 180px;
  position: absolute;
  top: 335px;
  right: 100px;
  z-index: 20;
  text-shadow: 8px 8px 9px #000000;
}

button {
  position: absolute;
  top: 600px;
  right: 50px;
  z-index: 1100;
}

.btn-unete {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.btn-unete:hover {
  background-color: #e65c00;
}

footer {
  color: white;
  position: fixed;
  display: flex;
  padding: 30px;
  bottom: 0px;
}

/*STYLE-NOSOTROS*/
/*MOVIL*/
@media only screen and (max-width: 1000px) {
  .img-txt {
    display: none;
  }
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  right: 1px;
}

.cont-quienes-somos {
  height: 150px;
}

.mov-quienes {
  display: inline-block;
  font-family: "Gloock", serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
  position: absolute;
  left: 40px;
  top: 240px;
  color: white;
}

.mov-somos {
  display: inline-block;
  font-family: "Gloock", serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
  position: absolute;
  left: 125px;
  top: 290px;
  color: white;
}

hr {
  border: 0;
  height: 2px;
  background: #ffffff;
  margin: 20px 0;
  width: 100%;
}

.sec-txt {
  display: flex;
  position: absolute;
  top: 340px;
}

.mov-container-txt p {
  margin: 40px;
  color: white;
}

.img-txt {
  margin: 50px;
  height: 500px;
}

/*STYLE-GALERIA.SCSS*/
.container-grid-galeria {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.container-grid-galeria .box-img figure {
  width: 100%;
  height: 100%;
}

.container-grid-galeria .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
  margin-top: 80px;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #f0f0f0 solid 1px;
}

.nav-gal {
  background-color: rgb(46, 46, 46);
  height: 60px;
  width: 100%;
  position: absolute;
  top: 1px;
  border-bottom: 2px solid white;
}

.txt-gal {
  display: inline-block;
  font-family: "Gloock", serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
  position: absolute;
  left: 50px;
  color: rgb(255, 255, 255);
}

/*STYLE-FILMOGRAFIA*/
.nav-film {
  background-color: rgb(46, 46, 46);
  height: 60px;
  width: 100vw;
  position: absolute;
  top: 1px;
  border-bottom: 2px solid white;
}

.txt-nav-film {
  display: inline-block;
  font-family: "Gloock", serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
  position: absolute;
  left: 50px;
  color: rgb(255, 255, 255);
}

.description-film {
  position: absolute;
  left: 500px;
  padding: 200px;
}

.container-img-film {
  display: flex;
  gap: 100px;
  padding: 80px;
  color: white;
  border: solid rgb(255, 255, 255);
}

.image-film {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: solid rgb(255, 255, 255);
}

@media (max-width: 1000px) {
  .txt-nav-film {
    top: 2px;
    font-size: 50px;
  }
  .container-img-film {
    flex-direction: column;
    text-align: center;
  }
  .image-film {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .description-film {
    max-width: 100%;
    left: 0px;
    padding: 0px;
    position: relative;
    margin-top: -100px;
  }
}
@media (max-width: 600px) {
  .container-img-film {
    padding: 10px;
  }
}
/*STYLE-UNITE*/
.container-unite1 {
  display: flex;
  position: absolute;
  top: 40px;
  left: 100px;
}

.container-unite1 img {
  width: 600px;
}

.container-unite2 {
  position: absolute;
  left: 700px;
}

.txt-title-uni {
  font-size: 50px;
  color: white;
  font-family: "Gloock", serif;
  margin-top: 20px;
}

.secomunicacion {
  margin-top: -20px;
  font-family: "Kanit", sans-serif;
  color: white;
}

/*# sourceMappingURL=main.css.map */
