/*STYLE-FILMOGRAFIA*/
.nav-film {
    background-color: rgb(46, 46, 46);
    height: 60px;
    width: 100vw;
    position: absolute;
    top: 1px;
    border-bottom: 2px solid white;
  }
  
  .txt-nav-film {
    display: inline-block;
    font-family: "Gloock", serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;
    position: absolute;
    left: 50px;
    color: rgb(255, 255, 255);
  }
  
  .description-film {
    position: absolute;
    left: 500px;
    padding: 200px;
  }
  
  .container-img-film {
    display: flex;
    gap: 100px;
    padding: 80px;
    color: white;
    border: solid rgb(255, 255, 255);
  }
  
  .image-film {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: solid rgb(255, 255, 255);
  }
  
  @media (max-width: 1000px) {
    .txt-nav-film {
      top: 2px;
      font-size: 50px;
    }
    .container-img-film {
      flex-direction: column;
      text-align: center;
    }
    .image-film {
      margin-bottom: 20px;
      width: 100%;
      height: auto;
    }
    .description-film {
      max-width: 100%;
      left: 0px;
      padding: 0px;
      position: relative;
      margin-top: -100px;
    }
  }
  @media (max-width: 600px) {
    .container-img-film {
      padding: 10px;
    }
  }