/*MOVIL*/
@media only screen and (max-width:1000px) {


}

.banner {
    display: flex;
    width: 100vw;
}

.mov-quienes {
    margin-top: 20px;
    padding: 19px;
    font-family: "Cormorant Garamond", serif;
    font-size: 3vw;
    color: white;

}