.nav-film { 
    background-color: rgb(255, 136, 0);
    height: 60px;
    width: 100vw;
    position: absolute;
    top: 1px;
    border-bottom: 2px solid white;
}
.txt-nav-film{
    display: inline-block;
    font-family: "Gloock", serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;
    position: absolute;
    left: 50px;
    color: rgb(255, 255, 255);
}
.container-img-film {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    gap: 20px; /* Espacio entre la imagen y la descripción */
    padding: 20px;
    flex-wrap: wrap; /* Permite el ajuste de los elementos en pantallas pequeñas */
}
.image-film {
    width: 500px; /* Ancho fijo de 500px */
    height: 500px; /* Alto fijo de 400px */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor y se recorte si es necesario */
    flex: 1 1 auto; /* Permite que la imagen se ajuste a su contenedor */
}
.description {
    padding: 30px;
    flex: 1 1 auto; /* Permite que el texto se ajuste a su contenedor */
    max-width: calc(100% - 1000px); /* Ajusta el ancho máximo para dejar espacio para la imagen y el gap */
    color: white;
}
.description p {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
}
@media (max-width: 1000px) {

    .txt-nav-film{
        top: 2px;
        font-size: 50px;
    }
    .container-img-film {
        flex-direction: column; 
        text-align: center; 
    }
    .image-film {
        margin-bottom: 20px; 
        width: 100%; 
        height: auto; 
    }
    .description {
        max-width: 100%; 
    }
}
@media (max-width: 600px) {
    .container-img-film {
        padding: 10px;
    }
}
