.container-unite1 {
    display: flex;
    position: absolute;
    top: 40px;
    left: 100px;
}

.container-unite1 img {
    width: 600px;
    
}

.container-unite2 {
    position: absolute;
    left:700px;
}



.txt-title-uni{
    font-size: 50px;
    color: white;
    font-family: "Gloock", serif;
    margin-top: 20px;
}

.secomunicacion {
    margin-top: -20px;
    font-family: "Kanit", sans-serif;
    color: white;
}